<div class="bg-white shadow rounded-lg p-6">
  <h1 class="text-lg md:text-xl tracking-tight font-bold mb-4">
    <%= currentUser?.name ? `${currentUser.name}님 환영합니다` : '로그인이 필요합니다.' %>
  </h1>
  <p class="text-gray-600">학습을 시작하려면 강의를 선택하세요:</p>
  <div class="mt-8 space-y-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <% lectures.forEach((lecture)=> { %>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <div class="relative">
            <a href="/lecture/<%= lecture._id %>">
              <img class="w-full h-48 object-cover" src="<%= lecture.thumbnailUrl %>" loading="lazy" alt="<%= lecture.title %>"
                alt="<%= lecture.title %>">
            </a>
            <div class="absolute clock-font bottom-2 right-2 bg-sky-500 font-bold text-base text-white p-1 rounded-lg">
              <%= formatDuration(lecture.duration) %>
            </div>
          </div>
          <div class="p-4">
            <h2 class="text-xl font-bold text-gray-800 mb-2">
              <%= lecture.title %>
            </h2>
            <p class="text-gray-600 text-base mb-4">
              <%= lecture.description %>
            </p>
            <a href="/lecture/<%= lecture._id %>"
              class="inline-block bg-gray-500 hover:bg-gray-600 text-white font-bold text-sm py-2 px-3 rounded transition duration-300">
              강의 보기
            </a>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>



<% function formatDuration(duration) { const hours=Math.floor(duration / 3600); const minutes=Math.floor((duration %
  3600) / 60); const seconds=duration % 60; return `${padZero(hours)}:${padZero(minutes)}:${padZero(seconds)}`; }
  function padZero(num) { return num.toString().padStart(2, '0' ); } %>